@{
    ViewData["Title"] = "Detail";
}

@model CatalogViewModel

<div class="row">
    <div class="col-md-9">

        <div class="card">
            <div class="card-body">
                <img src="@Model.PictureUrl" class="card-img-top" alt="...">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text"> @Model.Description</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Fiyat : @Model.Price TL</h4>
                <div class="d-grid">
                    <a asp-controller="Basket" asp-action="AddBasketItem" asp-route-catalogId="@Model.Id" class="btn btn-primary">Add basket</a>
                </div>
            </div>
        </div>
    </div>
</div>